<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carolina & Orlando</title>
    <link rel="stylesheet" href="static/styles2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Gwendolyn:wght@400;700&family=MonteCarlo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="icon" href="static/icono.png" type="image/png">
</head>

<body class="fade-in">
  <header id="bar">
    <nav class="navbar">
      <!-- Logo centrado -->
      <div class="logo">
        <a href="#home">
          <img id="logoimg" src="static/logo.png" alt="Logo">
        </a>
      </div>

      <!-- Links principales -->
      <ul class="nav-links">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#presentacion">Presentación</a></li>
        <li><a href="#lugar">Lugar</a></li>
        <li><a href="#vestimenta">Vestimenta</a></li>
        <li><a href="#regalos">Regalos</a></li>
        <li><a href="#asistencia">Asistencia</a></li>
        <li><a href="#hospedaje">Hospedaje</a></li>
      </ul>

      <!-- Botón tipo hamburguesa siempre visible -->
      <button class="menu-toggle" aria-label="Toggle Menu">
        &#9776;
      </button>
    </nav>
  </header>
  
  <div  id="page">
    <div id="inicio">
      <h2 id="nuestra">Nuestra Boda</h2>
      <h1 id="titulo">Carolina</h1>
      <div class="separador"><span>&</span></div>
      <h1 id="titulo">Orlando</h1>
      <h2 id="nuestra">19.Diciembre.2026</p>
    </div>
    <div class="separadores"></div>
    <div id="presentacion">
      <h1 id="frase">Junto a nuestros padres, queremos invitarles a compartir el día en el que daremos el ¡Sí!</h1>
      <h3 id="padres">Padres de la novia</h2>
      <p id="pas">Adrian Robles Osorio</p>
      <p id="pas">María de Jesus Mora Flores</p>
      <h3 id="padres">Padres del novio</h2>
      <p id="pas">Maria Elena Garcia Hernandez</p>
      <p id="pas">Herlindo Garcia Gomez</p>
      <p id="pas">Zenaida Hernandez Morales</p>
      <p id="padres">Padrinos</p>
      <p id="pas">David Emmanuel Alvarado Garcia</p>
      <p id="pas">Adriana del Carmen Ozuna Velasco</p>
      <h2 id="frase">El amor nos unió, ahora queremos compartirlo contigo.</h2>
    </div>
    <div class="separadores"></div>
    <div id="lugar">
      <h1 class="titulos">¿Cuando y donde?</h1>
      <h2 class="padres">19.Diciembre.2026</h2>
      <h3 id="pas">San Cristóbal de las Casas, Chiapas</h3>
      <h2 id="padres">Ceremonia</h2>
      <img class="imagenes" src="static/hotel.jpg" alt="Ceremonia">
      <p id="pas">Hotel Diego de Mazariegos</p>
      <p id="pas">Maria Adelina Flores 2, Centro, San Cristóbal de Las Casas, Chiapas</p>
      <h4 id="pas">3:00 pm</h4>
      <a
        href="https://maps.app.goo.gl/KSwxdrFReC1CDC1v6"
        target="_blank"
        class="btn-wrapper"
      >  
        <button>
          <span>Ver mapa</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 74 74"
            height="34"
            width="34"
          >
            <circle stroke-width="3" stroke="black" r="35.5" cy="37" cx="37"></circle>
            <path
              fill="black"
              d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z"
            ></path>
          </svg>
        </button>
      </a>
      <h2 id="padres">Recepcion</h2>
      <img class="imagenes" src="static/salon.jpg" alt="Recepcion">
      <p id="pas">Casa Mazariegos Recinto Historico</p>
      <p id="pas">Crescencio Rosas 4, Zona Centro, San Cristóbal de las Casas, Chiapas</p>
      <p id="pas">5:00 pm</p>
      <a
        href="https://maps.app.goo.gl/Sj1jdej1eajo2TB17"
        target="_blank"
        class="btn-wrapper"
      >  
        <button>
          <span>Ver mapa</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 74 74"
            height="34"
            width="34"
          >
            <circle stroke-width="3" stroke="black" r="35.5" cy="37" cx="37"></circle>
            <path
              fill="black"
              d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z"
            ></path>
          </svg>
        </button>
      </a>
    </div>
    <div class="separadores"></div>
    <div id="vestimenta">
      <h1 class="titulos">Vestimenta</h1>
      <img clas="imagenes" src="static/vestimenta.svg" alt="festimenta">
      <p id="pas">Formal</p>
      <p id="pas">No blanco</p>
    </div>
    <div class="separadores"></div>
    <div id="regalos">
      <h1 class="titulos">Mesa de Regalos</h1>
      <h2 id="pas">Nuestro mejor regalo es tu presencia, pero si tu deseo es hacernos un obsequio estas son nuestras sugerencias</h2>
      <a href="">
        <img class="imagenes-chicas" src="static/amazon.png" alt="amazon">
      </a>
      <a
        href="https://www.amazon.com.mx/hz/wishlist/ls/8AKSC2NHAU90?ref_=wl_share"
        target="_blank"
        class="btn-wrapper"
      >  
        <button>
          <span>Ver</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 74 74"
            height="34"
            width="34"
          >
            <circle stroke-width="3" stroke="black" r="35.5" cy="37" cx="37"></circle>
            <path
              fill="black"
              d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z"
            ></path>
          </svg>
        </button>
      </a>
      <div class="margenes"></div>
      <div class="mi-toggle">
        <div class="mi-toggle-title" tabindex="0">
          <img src="/static/sobre.png" alt="" width="56">
          Lluvia de sobres
          <span class="icon">▼</span>
        </div>

        <div class="mi-toggle-content" style="display: none;">
          <img src="/static/sobre_adentro.png" alt="">
          <p >Si lo deseas, habrá un espacio para dejar tu regalo en efectivo dentro de un sobre.</p>
        </div>
      </div>
      <p id="pas" >Agradecemos cualquier muestra de cariño, por tratarse de una boda destino, les pedimos no llevar regalos al viaje</p>
    </div>
    <div class="separadores"></div>
    <div id="asistencia">
      <h1 class="titulos">Asistencia </h1>
      <p id="pas">Sería un honor para nosotros contar con tu prescencia</p>
      <p id="pas">Confirma tu asistencia antes del 30 de septiembre con los pases de tu vuelo por medio de WhatsApp</p>
    </div>
    <div class="separadores"></div>
    <div id="hospedaje">
      <h1 class="titulos">Hospedaje en el destino</h1>
      <p id="pas">Para nosotros, lo más importante es que estes ahí, sientete libre de buscar la opción de hospedaje que mas te convenga.</p>
      <p id="pas">Sin embargo para tu comodidad, hemos gestionado una tarifa preferencial en el hotel Diego de Mazariegos. Solo debes mencionar "Boda Carolina y Carlos" al hacer tu reserva</p>
      <a
        href="/static/tarifas.pdf"
        target="_blank"
        class="btn-wrapper"
      >  
        <button>
          <span>Ver Tarifas Especiales</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 74 74"
            height="34"
            width="34"
          >
            <circle stroke-width="3" stroke="black" r="35.5" cy="37" cx="37"></circle>
            <path
              fill="black"
              d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z"
            ></path>
          </svg>
        </button>
      </a>
    </div>
    <div class="seccion" >
      <img src="/static/footer.jpg" alt="">
      <div class="text-arriba">
        <h1>Carolina & Orlando</h1>
        <p>19 · 12 · 26</p>
      </div>
    </div>
  </div>
  <footer id="footer">
    <p>Hecho con &hearts;   .</p>
    <p>  &copy; Copyright 2026. Todos los derechos reservados</p>
  </footer>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script>

    function toggleInvitados(mostrar) {
    const contenedor = document.getElementById("invitados");
    const inputs = contenedor.querySelectorAll("input");

    if (mostrar) {
        contenedor.classList.remove("desactivado");
        inputs.forEach(input => {
        input.disabled = false;
        input.required = true;
        });
    } else {
        contenedor.classList.add("desactivado");
        inputs.forEach(input => {
        input.disabled = true;
        input.required = false;
        input.value = "";
        });
    }
    }
  </script>

</body>
</html>